// Media Queries
$maxMobile: '(max-width: 767px)';
$maxSmall: '(max-width: 991px)';
$minSmall: '(min-width: 768px)';
$minMedium: '(min-width: 992px)';
$minLarge: '(min-width: 1200px)';
// Website Colors
$redColor: #e2494c;
$greyColor: #e7e7e7;
$h1Color: #404040;

// Floats
$floatLeft: left;
$floatRight: right;

// Texts
$textLeft: left;
$textRight: right;
